.site-header{
    background-color: firebrick;
    color: #eca4a4;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: #422525 2px 5px 5px}
.site-header-content
{
    margin: 10px;
}
body{
    margin: 0;
}